body {
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
    background-color: #FBF8F3;
}



h1, p, h2, h3, {
  color: #101C24;
}

a {
  color: #416F6E;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  color: #337B7A;
}

h2 {
  color: #101C24;
}

h1 {
  font-size: 48px;
  color: black;
}

h3 {
text-transform: uppercase;
font-size: 12px;
margin-bottom: -10px;
letter-spacing: .05em;
color: black; /* change to the right color */
}

.pink-blob {
  position: absolute;
  top: 0;
  left: 10;
  z-index: -99;
}

p {
  font-size: 16px;
  color: #101C24;

  line-height: 1.5em;
}



p.title {
  width: 50%;
  margin: 0;
}
.company {
  font-weight: bold;
}

/* .phone {
  background-color: blue;
  height: 900px;
} */

.l-c-blob {
  background-image: url("l-corner-blobs.svg");
  background-repeat: no-repeat;
  background-size: contain;

  top: -30px;
  width: 500px;
  height: 500px;
  z-index: -99;

}

.lb-c-blob {
  background-image: url("lb-corner-blobs.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  position: fixed;
  bottom: -30px;
  width: 500px;
  height: 500px;
  z-index: -99;
}









.project {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 60px;

}

.project-style {
  border: 2px solid #101C24;
}

.socials {
position: absolute;
bottom: 10px;
}
.intro {
height: 100%;
padding-top: 170px;
z-index: 100;
}


.process-photo-1 {
  background-image: url("Etsy-set-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

}

.project-1 {
  background-image: url("co-display-1.svg");
  background-repeat: no-repeat;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.next-button  {
  position: absolute;
  text-align: center;
  font-size: 30px;
  bottom: 30px;
  right: 30px;
  position: fixed;
  z-index:99;
  width: 120px;
  height: 60px;
  border-radius: 4px;
  background-color: #1A4746;
  color: #FBF8F3;
  font-style:  normal;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 20px;
  letter-spacing: .05em;
}


.back-button  {
  position: absolute;
  text-align: center;
  font-size: 20px;
  bottom: 30px;
  left: 30px;
  position: fixed;
  z-index:99;
  width: 120px;
  height: 60px;
  border-radius: 4px;
  background-color: #1A4746;
  color: #FBF8F3;
  font-style:  normal;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 20px;
  letter-spacing: .05em;
}

.home-button  {
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 30px;
  right: 30px;
  position: fixed;
  z-index:99;
  width: 120px;
  height: 60px;
  border-radius: 4px;
  background-color: #F29954;
  color: #FBF8F3;
  font-style:  normal;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 20px;
  letter-spacing: .05em;
}

.intro2 {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}


.left-panel {
  height: 100vh;
  padding-top: 140px;
  z-index: 1
}

.right-panel {

  overflow: auto;
}

.right-panel::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.right-contain {
  height: 280vh;
}

.content-box {
width: 98%;
}

@media screen and (max-width: 975px) {
  .lb-c-blob {
    display: none;

  }
}

@media screen and (max-width: 1180px) {
  .l-c-blob {
    width: 400px;
    height: 400px;
  }
}


@media screen and (max-height: 778px) {
  .lb-c-blob {
    display:none;
  }
}

@media screen and (max-width: 950px) {
  .intro2 {
    overflow: scroll;
    height: 100%;

  }

.content-box {
padding-left: 0;;
}
  .left-panel {
    width: 100%;
    height: 100%;


  }
  .right-panel {
    width: 100%;
    margin: 0;
    padding: 0
  }

  .right-contain {
    height: 200vh;
  }

  .l-c-blob {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: -99;
  }
}
